{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}


<style>{{source('@css/form.css')}}</style>
    

<div class="container container-form flex x-center y-center">
    {{ form_start(form) }}
        <div class="flex y-center">
            <img src="{{ asset('/img/picto/search.png') }}" />
            {{ form_widget(form.crypto_name) }}
        </div>
        <div class="flex y-center">
            <img src="{{ asset('/img/picto/quantityIcon.png') }}" />
            {{ form_widget(form.amount) }}
        </div>
        <div class="flex y-center">
            <img src="{{ asset('/img/picto/euro.png') }}" />
            {{ form_widget(form.initial_value) }}
        </div>
        <div class="submit-contain flex x-center y-center">{{ form_widget(form.ajouter) }}<div>
    {{ form_end(form) }}
</div>
{% endblock %}
{% block nav %}
    <a href="../"> <img src="{{ asset('/img/picto/cancel.png') }}"/></a>
{% endblock %}
